<!-- 文字コード -->
<meta charset="utf-8" />

<!-- ビューポートの設定 -->
<meta
  name="viewport"
  content="width=device-width,initial-scale=1.0"
/>

<!-- タイトル -->
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

<!-- ファビコン -->
<link
  rel="icon"
  href="/favicon.ico"
/>

<!-- グローバルCSS -->
<link
  href="/css/main.css"
  rel="stylesheet"
/>

<!-- Google Fonts: Noto Sans JP -->
<link
  href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap"
  rel="stylesheet"
/>

<!-- TailWind CSS -->
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
