<!DOCTYPE html>
<html
  lang="{{ site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head.html" . }}
  </head>

  <body>
    <div class="bg-claude-bg-light">
      <!-- ページ全体のラッパー -->
      <div class="min-h-screen flex flex-col">
        <!-- 固定ヘッダー -->
        <header>{{ partial "header.html" . }}</header>

        <!-- footer 用ラッパー -->
        <div class="flex-1">
          <!-- コンテンツ全体に余白を設ける -->
          <div class="mx-auto max-w-2xl mx-auto my-8 py-8 px-4">
            <main>{{ block "main" . }}{{ end }}</main>
          </div>
        </div>
      </div>

      <footer>{{ partial "footer.html" . }}</footer>
    </div>
  </body>
</html>
