<!DOCTYPE html>
<html
  lang="{{ site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <!-- footer 用ラッパー -->
    <div class="min-h-screen flex flex-col">
      <!-- 固定ヘッダー -->
      <header>{{ partial "header.html" . }}</header>

      <!-- footer 用ラッパー -->
      <div class="flex-1">
        <!-- コンテンツ全体に余白を設ける -->
        <div class="mx-auto max-w-2xl mx-auto py-12 px-4">
          <main>{{ block "main" . }}{{ end }}</main>
        </div>
      </div>

      <footer>{{ partial "footer.html" . }}</footer>
    </div>
  </body>
</html>
