{{ define "main" }}
<article>
  <h1 class="text-3xl text-claude-text-light font-bold mb-4">{{ .Title }}</h1>
  {{ with .Date }}
  <time class="block text-claude-subtext-light text-sm mb-4" datetime="{{ . }}"
    >{{ .Format "2006-01-02" }}</time
  >
  {{ end }} {{ if .Params.categories }}
  <div class="mb-4">
    <span class="text-xs text-claude-subtext-light mr-2">Categories:</span>
    {{ range .Params.categories }}
    <a
      href="/categories/{{ . | urlize }}/"
      class="text-xs inline-block rounded bg-claude-accent-light text-claude-bg-light px-2 py-[2px] mr-1"
      >{{ . }}</a
    >
    {{ end }}
  </div>
  {{ end }} {{ if .Params.tags }}
  <div class="mb-4">
    <span class="text-xs text-claude-subtext-light mr-2">Tags:</span>
    {{ range .Params.tags }}
    <a
      href="/tags/{{ . | urlize }}/"
      class="text-xs inline-block rounded border border-claude-accent-light text-claude-accent-light px-2 py-[2px] mr-1"
      ># {{ . }}</a
    >
    {{ end }}
  </div>
  {{ end }}

  <div class="border-b border-claude-border-light mb-6"></div>

  <section class="content-body">{{ .Content }}</section>
</article>
{{ end }}
